.more-text {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 1.4em;
}
.more-text-dotted {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 1.4em;
    list-style-type: square;
}
ul li {
    padding: 10px 0px;
}