h1 {
    font-size: 60px;
    font-family: "VT323";
    text-align: center;
    line-height: 2;
}
h2 {
    font-size: 34px;
    font-family: "VT323";
}

footer {
    background-color: lightgray;
    text-align: center;
    padding: 8px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}